<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style/main.css" />
    <link rel="stylesheet" href="../public/style/responsive.css" />
    <link rel="icon" href="../public/img/knife-icon.svg" />

    <title>Horrorflix</title>
  </head>
  <body onload="getMovies()">
    <header id="home">
      <div class="container">
        <h2 class="logo">HORRORFLIX</h2>
        <nav>
          <a href="#home">Início</a>
          <a href="#register">Cadastro</a>
          <a href="#movies">Filmes</a>
          <a href="https://github.com/danielafarias/Horrorflix-CRUD" target="_blank" rel="noreferrer">Github</a>
        </nav>
      </div>
    </header>

    <main>
      <section class="principal-movie" id="principal-movie">
        <div class="container">
          <div id="register">
            <h3 class="title">Cadastre um filme</h3>
            <div class="input">
              <label for="title">Título:</label>
              <input id="title" placeholder="Informe o título do filme" name="title" required/>
              <small id="text-helper1">Insira o título do filme.</small>
            </div>
            <div class="input">
              <label for="cover">Capa:</label>
              <input id="cover" placeholder="Insira o link da imagem" name="cover" required/>
              <small id="text-helper2">Insira a capa do filme.</small>
            </div>
            <div class="input">
              <label for="sinopse">Sinopse:</label>
              <input id="sinopse" placeholder="Resuma o filme" name="sinopse"/>
            </div>
            <div class="input">
              <label for="genre">Gênero:</label>
              <select id="genre" name="genre">
                <option disabled selected>Selecione o gênero</option>
                <option>Terror Psicológico</option>
                <option>Thriller</option>
                <option>Sobrenatural</option>
                <option>Found Footage</option>
                <option>Gore</option>
                <option>Slasher</option>
                <option>Body Horror</option>
                <option>Trash</option>
                <option>Terror Cósmico</option>
                <option>Terror Cômico</option>
                <option>Terror Teen</option>
              </select>
            </div>
            <div class="input">
              <label for="score">Nota:</label>
              <select id="score" name="score">
                <option disabled selected>Avalie</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <div class="input">
              <div class="checkbox">
                <label for="status"> Assistido? </label><br>
                <input id="status" type="checkbox" name="status" value="assistido">
              </div>
            </div>
            <div class="buttons">
              <button
                onclick="postMovie()"
                class="button"
              >
                <i class="fas fa-paper-plane"></i>
                Enviar
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="movies" id="movies">
     <section id="cards">
      <!-- CARDS DE FILMES -->
     </section>
    </div>

    <section class="modal" id="modal">
      <header>
        <h2>Filme</h2>
        <button id="close"><i class="fas fa-times"></i></button>
      </header>
      <main id="modal-content">
          <!-- MODAL  -->
      </main>
    </section>

    <section class="modal" id="edit">
      <header>
        <h2>Filme</h2>
        <button id="close"><i class="fas fa-times"></i></button>
      </header>
      <main id="edit-content">
        <!-- <div class="actions">
          <img
          id="coverEdit"
          class="movie-box"
          src=""
          alt="Poster de um filme"
          />
          <div class="buttons">
              <button
                  role="button"
                  class="button"
                  onclick="submitEdit()"
              >
              <i class="fas fa-edit"></i>
                  Confirmar alteração
              </button>
              
          </div>
      </div>
      <article id="edit-ver">
        <input id="titleEdit" name="title" placeholder="Altere o título"/>
        <input id="coverEdit" name="cover" placeholder="Altere a capa"/>
        <input id="sinopseEdit" name="sinopse" placeholder="Altere a sinopse"/>
        <div class="badges-edit">
        <div class="badge"><i class="fas fa-film"></i> 
        <select id="genreEdit" name="genre">
          <option disabled selected>Selecione o gênero</option>
          <option>Terror Psicológico</option>
          <option>Thriller</option>
          <option>Sobrenatural</option>
          <option>Found Footage</option>
          <option>Gore</option>
          <option>Slasher</option>
          <option>Body Horror</option>
          <option>Trash</option>
          <option>Terror Cósmico</option>
          <option>Terror Cômico</option>
          <option>Terror Teen</option>
        </select></div>

        <div class="badge"><i class="fas fa-star"></i> 
        <select id="scoreEdit" name="score">
        <option disabled selected>Avalie</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        </select></div>
        </div>
        <div class="modal-checkbox">
            <div class="checkbox">
            <i class="far fa-eye"></i><label for="statusEdit"> Assistido? </label><br>
            <input id="statusEdit" type="checkbox" name="status">
            </div>
          </div>
      </article> -->
      </main>
    </section>

    <script type="text/javascript" src="../public/js/scripts.js"></script>

    <script
      src="https://kit.fontawesome.com/7a7baf6e14.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
